<div class="text-6xl" id="number_field">1</div>
<%= link_to 'スタート', new_scoring_path, class: "btn btn-lg", id: "start_button", data: { turbo_stream: true } %>

<%= javascript_include_tag "index.js", "data-turbo-track": "reload", type: "module" %>